extends ../layouts/layout

block head
  title #{application} &middot; Privacy

block styles
  link(rel='stylesheet', href='/css/page-privacy.min.css')

block content

  .container
    .row
      .col-sm-8.col-sm-offset-2

          //header#main_logo.boxCenter

          //img.img-responsive(src='/images/logo/Freecycle Logo Emboss 740x340.png', alt='The Freecycle Network', title='The Freecycle Network', height='169')
          img.img-responsive.center-block(src='/img/logo/Freecycle Logo Emboss 370x170.png', alt='The Freecycle Network', title='The Freecycle Network', height='169')

          //p#tagline
            | changing the world
            br
            | one gift at a time™

          //section#content
          //article.mostWidth.textJustify.boxCenter

          header
            h2 Our Commitment to Privacy
          p
            | The Freecycle Network respects everyone's right to privacy. This section summarizes what personally identifiable information we may collect, if any, and how we might use this information. This policy also describes other important topics relating to your privacy. The Freecycle Network reserves the right to modify this privacy policy at any time. We will promptly reflect any such modifications in these Web pages.
          header
            h2 Use of Cookies
          p
            | The Freecycle Network websites may use cookies to verify its visitors' identity to provide services related to the use of Groups. However, it should be noted that some Freecycle groups currently operate in the Yahoo!Groups environment, which means that cookies may be used in accordance with Yahoo's aims. It should be noted that cookies can also be used to further the aims of individual groups, for example, to ensure that each visitor may vote in any online poll only once. Cookies set by and for Yahoo!Groups are outside the control of The Freecycle network and are subject to Yahoo!Group's privacy policy.
          header
            h2 Children
          p
            | Children may participate only with the permission and supervision of their parents and/or guardians. Freecycle.org does not intend to collect any information from individuals under the age of 13.
          header
            h2 Information Collection
          p
            | In general, when you visit the Freecycle Web site and access information, you remain anonymous. We do not require you to register or provide personal information to us in order to view our site. There are occasions when we will ask for additional information, such as when you apply to become a member of a Freecycle group or make a donation to Freecycle. In these cases, we will only collect personally identifiable information (such as name, address, telephone number, or e-mail address) that you voluntarily provide through our Web site or via e-mail correspondence.
          p
            | We will not sell or exchange your personal information at any time. We will collect general information (such as the type of browser you use, the files you request, and the domain name and country from which you request information) to improve our Web site and better meet your needs.
          header
            h2 Use of Information
          p
            | Before we collect any personally identifiable information, we will provide an explanation for the possible use of your data. For example, the information you supply might be used by The Freecycle Network to respond to your inquiries or supply you with requested information. It may be necessary, if required by law or if pertinent to judicial or governmental investigations, to release your personally identifiable information. If you have submitted personal information to us electronically and would like it removed or modified, please contact us. We will use every possible reasonable effort to comply with your request.
          header
            h2 Links
          p
            | While Freecycle is highly selective about which sites we provide links to, we do not control these Web sites, nor do we endorse or otherwise accept responsibility for the content or privacy policies of those sites. We encourage you to review the privacy policies posted on third party sites.
          header
            h2 Yahoo!
          p
            | Most local Freecycle groups are currently members of Yahoo!Groups and to remain as such must follow Yahoo's privacy policy, which can be found at http://privacy.yahoo.com/privacy/us/
          header
            h2 Contact Us
          p Please contact us by email or in writing at:
          address
            a(href='mailto:info@freecycle.org') info@freecycle.org
            br
            | 		The Freecycle Network, P.O. Box 294, Tucson, Arizona 85702
          //div(style='margin:80px 0px 0px 0px;')
