// ** block footer
block footer
  footer.footer.bg-black
    .container
      .row
        .col-md-12
          p
            //a.logo(href='/')
              img(src='/img/logo/Freecycle Logo Dark2 Transparent 140x68.png', alt='Freecycle')
            //|           Copyright © 2015 The Freecycle Network (http://www.freecycle.org). All rights reserved.
            //br
            //|                   Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.
            // Logo text or image
            //
              <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
              <div id="back-top"><a href="#header"><i class="fa fa-chevron-up"></i></a></div>
            //br
            // copyright , scrollTo Top

          | Copyright © #{moment().format('YYYY')}&nbsp;
          a.logo(href='/')
            img.hidden-xs(src='/favicon.png', width='20px' alt='Freecycle')
          //| &nbsp;#{application}, all rights reserved. |&nbsp;
          | The Freecycle Network&trade;. &nbsp; All rights reserved. &nbsp;
          a(href='/terms') Terms of Service&nbsp;
          | |&nbsp;
          a(href='/privacy') Privacy Policy
          br
          | Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.

          //a.logo(href='/')
            img(src='/img/logo/Freecycle Logo Dark2 Transparent 140x68.png', valign="middle" height='50px' alt='Freecycle')

