
footer.footer.bg-black
  .container
    .row
      .col-md-12
        p
          //a.logo(href='/')
            img(src='images/logo/Freecycle Logo Dark2 Transparent 140x68.png', alt='Freecycle')
          //|           Copyright © 2015 The Freecycle Network (http://www.freecycle.org). All rights reserved.
          //br
          //|                   Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.
          // Logo text or image
          //
            <a class="toTop" href="#topNav">BACK TO TOP <i class="fa fa-arrow-circle-up"></i></a>
            <div id="back-top"><a href="#header"><i class="fa fa-chevron-up"></i></a></div>
          //br
          // copyright , scrollTo Top

        | Copyright © #{moment().format('YYYY')}&nbsp;
        a.logo(href='/')
          img.hidden-xs(src='/favicon.png', width='20px' alt='Freecycle')
        //| &nbsp;#{application}, all rights reserved. |&nbsp;
        | The Freecycle Network&trade;. &nbsp; All rights reserved. &nbsp;
        a(href='/terms') Terms of Service&nbsp;
        | |&nbsp;
        a(href='/privacy') Privacy Policy
        br
        | Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.

        //a.logo(href='/')
          img(src='images/logo/Freecycle Logo Dark2 Transparent 140x68.png', valign="middle" height='50px' alt='Freecycle')

//- Load jQuery, food for thought:
//- https://palant.de/2014/06/30/please-don-t-use-externally-hosted-javascript-libraries
script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
//- Backup just in case
script window.jQuery || document.write('<script src="/lib/jquery/dist/jquery.min.js"><\/script>')
//- Then use jQuery to async load everything else


// *****************************************************************************************
// ************************************ TEMP JAVASCRIPT INCLDUES ***************************
// script(type='text/javascript', src='plugins/jquery-2.1.1.min.js')
// script(type='text/javascript', src='plugins/jquery.easing.1.3.js')
// script(type='text/javascript', src='plugins/jquery.cookie.js')
// script(type='text/javascript', src='plugins/jquery.appear.js')
// script(type='text/javascript', src='plugins/jquery.isotope.js')
// script(type='text/javascript', src='plugins/masonry.js')
// script(type='text/javascript', src='plugins/bootstrap/js/bootstrap.min.js')
// script(type='text/javascript', src='plugins/magnific-popup/jquery.magnific-popup.min.js')
// script(type='text/javascript', src='plugins/owl-carousel/owl.carousel.min.js')
// script(type='text/javascript', src='plugins/stellar/jquery.stellar.min.js')
// script(type='text/javascript', src='plugins/knob/js/jquery.knob.js')
// script(type='text/javascript', src='plugins/jquery.backstretch.min.js')
// script(type='text/javascript', src='plugins/superslides/dist/jquery.superslides.min.js')
// script(type='text/javascript', src='plugins/styleswitcher/styleswitcher.js')
// STYLESWITCHER - REMOVE ON PRODUCTION/DEVELOPMENT
//script(type='text/javascript', src='js/scripts.js')
// script(type='text/javascript', src='js-sails/scripts.js')
// **********************************************************************************************
// ************************************ /TEMP JAVASCRIPT INCLDUES END ***************************


script.
  $(document).ready(function() {

    $( "a" ).addClass( "hvr-grow-shadow" );
    $("nav.li").addClass("hvr-glow hvr-float-shadow");

    //- Async load main project js
    $.ajax({
      type: 'GET',
      url: '/js/#{application}.min.js',
      dataType: 'script',
      cache: true
    }).done(function () {
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    });

    //- Async load socket.io
    $.ajax({
      type: 'GET',
      url: '//cdn.socket.io/socket.io-1.2.1.js',
      dataType: 'script',
      cache: true
    }).done(function () {
      $(function(){
        var socket = io(window.location.hostname);
        socket.on('connect', function () {
          socket.emit('pageview', window.location.href);
        });
        window.onhashchange = function () {
          socket.emit('pageview', window.location.href);
        };
      });
    });

  // Initialize tooltip
  $('[data-toggle="tooltip"]').tooltip();  //{placement : 'top'});
  // Fire tooltip event
  //$('[data-toggle="tooltip"]').on('hidden.bs.tooltip', function(){
  //  alert("Tooltip has been completely closed. Place your mouse pointer over the link again to view the tooltip.");});
  });
