/*--------------------------------------
 * #CONTENTS - X - Experimental Ideas
 * -------------------------------------
 *
 *   Hover effects.
 *
 *--------------------------------------*/
/*
*{
  margin: 0;
  padding: 0;
}

.h1 {
  colo: #FF0000;
}
body{
  background: #f9f9f9;
  font-family: 'Roboto', sans-serif;
}
*/
/*
.container{
  width: 70%;
  margin: auto;
  margin-top: 5%;
  padding: 20px;
  text-align: justify;
}

.container h1{
  color: #333;
  margin-bottom: 20px;
  text-align: center;
  text-transform: capitalize;
}

.container h3{
  font-size: 24px;
  text-align: center;
}

.container p{
  color: #555;
  line-height: 1.5;
  word-spacing: 1px;
  margin-bottom: 20px;
}
*/
a {
  color: #009E74;
  position: relative;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
a:hover {
  color: #41e757;
  background: #009E74;
}
a:before,
a:after {
  content: '';
  background: #009E74;
  position: absolute;
  width: 0;
  height: 2px;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  transition: all .3s linear;
}
a:before {
  top: 0;
  left: 0;
}
a:after {
  top: 100%;
  right: 0;
}
a:hover:before,
a:hover:after {
  width: 100%;
}


 /* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
 -moz-user-select: none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 user-select: none;
 /* Required to make elements draggable in old WebKit */
 -khtml-user-drag: element;
 -webkit-user-drag: element;
}
.column {
  /*
  height: 150px;
  width: 150px;
  float: left;
  border: 2px solid #666666;
  background-color: #ccc;
  */
  margin-right: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  text-align: center;
  cursor: move;
}
.column header {
  color: #fff;
  text-shadow: #000 0 1px;
  box-shadow: 5px;
  padding: 5px;
  background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -webkit-gradient(linear, left top, right top,
  color-stop(0, rgb(0,0,0)),
  color-stop(0.50, rgb(79,79,79)),
  color-stop(1, rgb(21,21,21)));
  background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  background: -ms-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));
  border-bottom: 1px solid #ddd;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -ms-border-radius-topleft: 10px;
  border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  border-top-right-radius: 10px;
}
