doctype html
html(lang="en")
  include ../partials/head
  body
    //include ../partials/navigation_skel
    include ../partials/navbar
    include ../partials/flash
    block content
    include ../partials/footer
    block scripts
