
<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>The Freecycle Network</title>
  <link rel="shortcut icon" href="//static.freecycle.org/img/favicon.ico" />
  <link rel="icon" type="image/png" href="//static.freecycle.org/img/favicon.png" />
  <link rel="apple-touch-icon" href="//static.freecycle.org/img/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="//static.freecycle.org/img/apple-ipad-icon.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="//static.freecycle.org/img/apple-touch-icon-retina.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="//static.freecycle.org/img/apple-ipad-icon-retina.png" />
  <link rel='stylesheet' type='text/css' href='//static.freecycle.org/css/freecycle.css' />
  <script type='text/javascript' src='//static.freecycle.org/js/freecycle.js'></script>

  <script type="text/javascript" src="//partner.googleadservices.com/gampad/google_service.js"></script>
  <script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function() {
      var gads = document.createElement('script');
      gads.async = true;
      gads.type = 'text/javascript';
      var useSSL = 'https:' == document.location.protocol;
      gads.src = (useSSL ? 'https:' : 'http:') +
        '//www.googletagservices.com/tag/js/gpt.js';
      var node = document.getElementsByTagName('script')[0];
      node.parentNode.insertBefore(gads, node);
    })();
  </script>

  <script type='text/javascript'>
    googletag.cmd.push(function() {
      googletag.defineSlot('/1053204/groups_box_right_top', [[160,80],[160,120],[160,160],[160,320] ], 'div-gpt-ad-1392644904435-0').addService(googletag.pubads());
      googletag.pubads().enableSingleRequest();
      googletag.enableServices();
    });
  </script>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>

  <script type='text/javascript'>
    GS_googleAddAdSenseService("ca-pub-3314697131331677");
    GS_googleEnableAllServices();
  </script>
  <script type='text/javascript'>
    GA_googleAddSlot("ca-pub-3314697131331677", "homepage_info_sponsor");
  </script>
  <script type='text/javascript'>
    GA_googleFetchAds();
  </script>  </head>

<body>  <nav id="skip_nav_menu"><a href='#content'>Skip navigation menu</a><hr></nav>

<nav id="main_menu"> <a href='https://www.freecycle.org'  class='menu_header ' title="Home">Home</a> <a href='https://www.freecycle.org/browse/'  class='menu_header ' title="Browse Groups">Browse Groups</a> <a href='http://faq.freecycle.org/' id='mmenu_faq'  class='menu_header ' title="FAQ">FAQ</a> <a href='https://www.freecycle.org/about/' id='mmenu_about'  class='menu_header ' title="About Freecycle&trade;">About Freecycle&trade;</a> <a href='https://www.freecycle.org/donate'  class='menu_header menu_header_2' title="Donate">Donate</a> <a href='http://store.freecycle.org/'  class='menu_header menu_header_2' title="Store">Store</a> <a href='https://www.freecycle.org/about/sponsors'  class='menu_header menu_header_2' title="Sponsors">Sponsors</a>  <a href='http://my.freecycle.org/'  class='menu_header ' title="Log in/Sign up">Log in/Sign up</a>  </nav>
<nav id='dyn_myf'>
  <a href='http://my.freecycle.org/home/info' class='menu_item' title="My Info">My Info</a>
  <a href='http://my.freecycle.org/home/groups' class='menu_item' title="My Groups">My Groups</a>
  <a href='http://my.freecycle.org/home/posts' class='menu_item' title="My Posts">My Posts</a>
</nav>
<nav id='dyn_about'>
  <a href="http://newswire.freecycle.org" class='menu_item' title="Newswire">Newswire</a>
  <a href="//www.freecycle.org/about/background" class='menu_item' title="History">History</a>
  <a href="//www.freecycle.org/about/video" class='menu_item' title="Instructional Video">Instructional Video</a>
  <a href="//www.freecycle.org/about/promovideo" class='menu_item' title="Promo Video - Lamp">Promo Video - Lamp</a>
  <a href="//www.freecycle.org/about/missionstatement" class='menu_item' title="Mission Statement">Mission Statement</a>
  <a href="//www.freecycle.org/about/pressroom" class='menu_item' title="Press Room">Press Room</a>
  <a href="//www.freecycle.org/about/sponsors" class='menu_item' title="Sponsors">Sponsors</a>
  <a href="//www.freecycle.org/about/funds" class='menu_item' title="Sources and Use of Funds">Sources and Use of Funds</a>
  <a href="//www.freecycle.org/about/volunteering" class='menu_item' title="Volunteering">Volunteering</a>
  <a href="http://wiki.freecycle.org/Staff" class='menu_item' title="Staff">Staff</a>
  <a href="//www.freecycle.org/about/board" class='menu_item' title="Board">Board</a>
  <a href="//www.freecycle.org/about/privacy" class='menu_item' title="Privacy">Privacy</a>
  <a href="//www.freecycle.org/tos" class='menu_item' title="Terms of Service">Terms of Service</a>
  <a href="//www.freecycle.org/about/disclaimer" class='menu_item' title="Disclaimer">Disclaimer</a>
  <a href="//www.freecycle.org/about/links" class='menu_item' title="Links we like">Links we like</a>
</nav>
<nav id='dyn_faq'>
  <a href="http://wiki.freecycle.org/MemberFAQ" class="menu_item" title="Member FAQ">Member FAQ</a>
  <a href="http://wiki.freecycle.org/Moderator_Manual:Main_Page" class="menu_item" title="Moderator Manual">Moderator Manual</a>
</nav>
<header id="main_logo" class="boxCenter">
  <img src="//static.freecycle.org/img/freecycle_logo.jpg"
       alt="The Freecycle Network" title="The Freecycle Network" height="169" width="360" />
  <p id='tagline'>changing the world<br />one gift at a time&trade;</p>
</header>  <section id="content"> <section id='index_adverts'>
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-3314697131331677";
  /* TFN Main - right hand bar */
  google_ad_slot = "7782951175";
  google_ad_width = 160;
  google_ad_height = 600;
  //-->
  </script>
  <script type="text/javascript" src="//pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</section> <section id='group_search_box' class='boxCenter group_search_box vgap'>
  <header class="greenTab boxCenter search_box_tab"> find a group near you </header>

  <form method="post" action="/search" class='rounded orangeShadow'>
    <input type="text" name="keywords" id='keywords' value="" />
    <input type="submit" class='rounded' value="go" />  </form>
  <label for='keywords' class="textCenter fullWidth">e.g. Tucson, Arizona</label>
</section>   <section class='index_page'>
  <article class="rounded orangeBox orangeShadow halfWidth boxCenter textJustify"> Welcome! The Freecycle Network&trade; is made up of 5,239 groups with 8,753,519 members around the world. It's a grassroots and entirely nonprofit movement of people who are giving (and getting) stuff for free in their own towns. It's all about reuse and keeping good stuff out of landfills. Each local group is moderated by local volunteers (them's good people). Membership is free. To sign up, find your community by entering it into the search box above or by clicking on 'Browse Groups' above the search box. Have fun! </article>

  <article class='textCenter'>
    <!-- ca-pub-3314697131331677/homepage_info_sponsor -->
    <script type='text/javascript'>
      GA_googleFillSlot("homepage_info_sponsor");
    </script>
  </article>  </section> </section> <section id='social_media_buttons'>
  <div>

    <script src="https://apis.google.com/js/platform.js" async defer>
      {lang: 'en' }
    </script>

    <div class="g-follow" data-annotation="bubble" data-height="20" data-href="https://plus.google.com/105329491294406874354" data-rel="publisher"></div>

    <a href="https://twitter.com/freecycle" class="twitter-follow-button" data-show-count="false">Follow @freecycle</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <div style='display:inline-block' class="fb-like" data-href="https://www.facebook.com/freecycle" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>

    <!script src="//platform.linkedin.com/in.js" type="text/javascript">
    <!-- lang: en_US -->
    <!/script>
    <!script type="IN/FollowCompany" data-id="1277591" data-counter="right"></script>
    </div>
    </section>
    <footer id="main_footer"> Copyright &copy;2015 The Freecycle Network (<a href="http://www.freecycle.org">http://www.freecycle.org</a>). All rights reserved. Freecycle and the Freecycle logo are trademarks of The Freecycle Network in various countries.  </footer>

    </body>
    </html>
