extends ../layouts/layout

block head
  title #{application} &middot; Experimental / SVG1

// *******************************************
//       CSS STYLES
// *******************************************
//       Block in the CSS in the file since
//       it is experimental and optimzations
//       are not considered yet.
// *******************************************
block styles
  //link(rel='stylesheet', href='/lib/animate.css/animate.css')
  // set times
  t1 = 4s
  t2 = 2s
  // basics
  html, body, .avatar
    position: absolute
    width: 100%
  height: 100%
  // pretty blue background
  body
    background: linear-gradient(115deg, darkturquoise, midnightblue) no-repeat fixed
  // svg and paths properties
  .avatar
    z-index: 800
    polygon
      stroke: rgba(225,175,255,1)
      stroke-width: .15
  transform-origin: center center
  transition: all t1 ease
  transform: translate(0)
  // animate paths in
  .avatar polygon:nth-of-type(4n+1)
    animation: p1 t2 bounceIn 1
  .avatar polygon:nth-of-type(4n+2)
    animation: p2 t2 bounceIn 1
  .avatar polygon:nth-of-type(4n+3)
    animation: p3 t2 bounceIn 1
  .avatar polygon:nth-of-type(4n+4)
    animation: p4 t2 ease 1
  @keyframes p1
  0%
  transform: translate(-300%, -700%) rotate(520deg) translateZ(0)
  100%
  transform: translate(0)
  @keyframes p2
  0%
  transform: translate(400%, -900%) rotate(850deg) translateZ(0)
  100%
  transform: translate(0)
  @keyframes p3
  0%
  transform: translate(500%, 900%) rotate(325deg) translateZ(0)
  100%
  transform: translate(0)
  @keyframes p4
  0%
  transform: translate(-500%, 900%) rotate(748deg) translateZ(0)
  100%
  transform: translate(0)
  // add invisible hover element
  .hover
    position: absolute
    width: 40%
  height: 40%vw
    top: 50%
  left: 30%
  margin-top: -20%vw
  border-radius: 50%
  cursor: pointer
  z-index: 1000
  visibility: hidden
  animation:waitforit 0 ease-in t2 1 forwards
  // wait for animation then add hover element
  @keyframes waitforit
  0%
  visibility: hidden
  100%
  visibility: visible
  // animate paths out
  .hover:hover + .avatar polygon:nth-of-type(4n+1)
    transform: translate(800%, 400%) rotate(-690deg) translateZ(0)
    .hover:hover + .avatar polygon:nth-of-type(4n+2)
    transform: translate(-700%, 600%) rotate(-720deg) translateZ(0)
    .hover:hover + .avatar polygon:nth-of-type(4n+3)
    transform: translate(-900%, -500%) rotate(-820deg) translateZ(0)
    .hover:hover + .avatar polygon:nth-of-type(4n+4)
    transform: translate(700%, -800%) rotate(-950deg) translateZ(0)
    // *******************************************
    //       /CSS STYLES END
    // *******************************************

block content
  .container
    .row
      ul.breadcrumb
        li
          a(href='/') X
        li.active X - Experimental SVG1

    .row.row.row-centered
      .col-sm-8.col-sm-offset-2
        .block
          i.hover.circle-rotate rot
          i.hover.circle-rotate.sub-b rot2
          i.hover.sonar-ping sonar

          header#main_logo.boxCenter
            img.img-responsive(src='/images/logo/Freecycle Logo Embossed Shadow 250x120.png', alt='The Freecycle Network', height='120', title='The Freecycle Network')

          //section#content
          //.jumbotron
          section#content
            article.mostWidth.textJustify.boxCenter

              h2.animated.bounceInRight Experimental / SVG1

              <div class="hover"></div>
              <svg class="avatar" width="700pt" height="265pt" viewBox="0 0 700 265" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon style="fill:#414141" points="126,7 130,12 134,17 131,19 127,22 124,22 120,21 117,18 114,15 113,13 111,10 113,7 116,5 120,4 123,2" />
              <polygon style="fill:#283527" points="67,15 74,17 80,20 81,22 81,23 81,24 80,24 78,24 77,24 72,23 68,22 64,19 62,17 61,15 60,12 61,11 62,10 64,8" />
              <polygon style="fill:#7d7d7d" points="170,12 175,11 179,9C 177,12 174,13 172,15 171,19 172,23 172,27 177,28 182,26 187,24 189,22 192,21 195,20 190,24 184,28 178,30 176,30 173,31 171,29 169,25 169,21 169,17" />
              <polygon style="fill:#3f403f" points="174,13 177,12 180,10 180,10 181,11 182,11 182,16 182,21 187,24 182,26 177,28 172,27 172,23 171,19 172,15" />
              <polygon style="fill:#484848" points="53,15 58,14 60,12 61,15 62,17 64,19 68,22 72,23 77,24 76,25 75,27 73,28 67,26 60,24 55,19" />
              <polygon style="fill:#95cd8f" points="233,27 234,27 235,26 240,29 244,33 249,36 248,36 248,37 247,37 242,34 236,37 230,37 231,34 233,31 232,27" />
              <polygon style="fill:#cee8cb" points="239,27 244,27 248,30 250,32 250,34 250,36C 244,33 240,29 235,26" />
              <polygon style="fill:#95cc8e" points="19,27 23,26 25,29 28,32 32,35 35,38 30,37 26,37 22,35 19,34 18,31 16,29" />
              <polygon style="fill:#939393" points="7,31 11,28 16,28C 16,29 15,30 14,30 12,32 7,32 6,36 6,39 8,41 11,42 17,45 25,46 32,46 33,45 33,43 34,42 35,42 36,42 38,42 37,44 36,46 35,48 32,50 28,49 25,48 18,47 12,47 7,43 4,41 3,37 4,34" />
              <polygon style="fill:#a3a3a3" points="225,28 228,28 231,28 230,29 230,29 229,30 228,30 227,31 227,31 224,33 221,34 219,37 217,39 216,42 214,45 219,48 225,46 230,45 233,44 237,43 240,41 241,40 242,40 243,39 244,38 246,38 247,37 246,39 245,42 243,44 236,48 228,49 219,50 217,50 214,50 212,48 210,45 211,41 214,38 216,35 219,32 223,30" />
              <polygon style="fill:#63895f" points="233,31 231,34 230,37 236,37 242,34 247,37 246,38 244,38 243,39 238,37 233,38 228,39 228,36 229,33 229,30 230,29 230,29 231,28" />
              <polygon style="fill:#30382f" points="15,30 16,29 16,29 18,31 19,34 22,35 26,37 30,37 35,38 36,39 38,41 40,42 39,42 38,42 38,42 36,42 35,42 34,42 25,44 16,44 8,38 10,36 12,33 14,30" />
              <polygon style="fill:#5b5b5b" points="7,32 12,32 14,30 12,33 10,36 8,38 16,44 25,44 34,42 33,43 33,45 32,46 25,46 17,45 11,42 8,41 6,39 6,36" />
              <polygon style="fill:#283526" points="227,31 228,30 229,30 229,33 228,36 228,39 233,38 238,37 243,39 242,40 241,40 240,41 233,42 226,43 220,43 221,39 224,35 227,31" />
              <polygon style="fill:#525252" points="221,34 224,33 227,31 224,35 221,39 220,43 226,43 233,42 240,41 237,43 233,44 230,45 225,46 219,48 214,45 216,42 217,39 219,37" />
              <polygon style="fill:#cbcbcb" points="87,44 108,42 128,41 134,41 141,40 147,42 146,42 145,42 145,42 133,42 122,42 111,43 101,45 90,47 80,51 78,51 76,52 74,53 70,54 66,55 62,57 50,63 37,70 29,80 29,81 30,82 31,83 38,80 45,75 52,71 65,65 78,61 92,59 119,55 146,59 171,65 186,69 201,75 215,81 221,84 228,86 234,91 230,93 227,95 223,97 221,99 219,104 223,106 227,108 232,109 237,110 248,112 259,113 270,115 276,116 283,118 289,116 293,116 295,112 298,109C 299,108 299,108 300,107 298,112 295,117 290,118 280,120 269,117 259,115 249,113 238,112 228,110 225,109 222,109 220,107 218,104 219,99 221,96 224,94 227,93 229,90 226,87 222,86 218,84 198,76 178,68 157,64 145,61 132,59 120,60 113,60 106,59 100,60 79,62 58,68 40,80 37,82 34,85 30,85 28,86 26,83 26,81 27,78 29,76 31,74 42,65 55,58 69,52" />
              <polygon style="fill:#5fc36d" points="122,42 133,42 145,42 145,44 145,45 145,47 134,46 123,47 112,46 112,45 111,44 111,43" />
              <polygon style="fill:#7dce89" points="145,42 146,42 147,42 165,44 182,47 199,53 201,53 203,54 205,55 210,61 218,61 225,65 209,61 193,55 177,51 166,49 155,47 145,47 145,45 145,44 145,42" />
              <polygon style="fill:#37b449" points="90,47 101,45 111,43 111,44 112,45 112,46 123,47 134,46 145,47 155,47 166,49 177,51 193,55 209,61 225,65 238,71 251,77 264,84 268,87 272,90 278,90 278,89 278,88 278,87 279,87 280,87 282,87 283,86 284,84 284,83 283,76 280,70 279,64 281,63 282,63 283,62 282,70 288,77 291,84 293,92 296,100 301,106 301,107 300,107 300,107 299,108 299,108 298,108 293,106 287,106 281,105 266,101 251,101 236,97 236,96 235,95 235,93 236,93 237,93 237,92 238,92 239,91 240,91 240,91 241,91 241,91 241,93 241,94 241,95 246,97 251,98 256,98 256,97 256,95 256,94 257,94 259,94 261,94 261,94 261,93 262,93 261,88 256,86 252,84 218,66 182,52 143,48 123,46 102,47 83,53 82,53 81,53 80,53 80,52 80,51 80,51" />
              <polygon style="fill:#0f2f13" points="102,47 123,46 143,48 182,52 218,66 252,84 256,86 261,88 262,93 254,90 248,86 241,83 208,66 172,54 135,51 125,51 115,51 104,51 95,52 86,55 76,56 78,56 80,54 83,53" />
              <polygon style="fill:#2a9439" points="76,52 78,51 80,51 80,51 80,52 80,53 81,53 82,53 83,53 80,54 78,56 76,56 71,58 65,60 60,63 56,65 52,68 48,70 50,67 52,65 54,64 60,60 67,56 74,53" />
              <polygon style="fill:#454545" points="115,51 125,51 135,51 172,54 208,66 241,83 248,86 254,90 262,93 261,93 261,94 261,94 259,94 257,94 256,94 251,93 246,92 241,91 241,91 240,91 240,91 237,89 234,86 230,85 208,74 185,65 161,60 138,55 113,52 90,56 80,58 70,61 60,63 65,60 71,58 76,56 86,55 95,52 104,51" />
              <polygon style="fill:#8f8f8f" points="66,55 70,54 74,53 67,56 60,60 54,64 47,66 42,70 37,74 35,75 34,77 33,79 39,77 45,73 51,70 64,63 78,59 93,57 103,56 114,56 125,56 158,58 190,68 221,82 227,85 234,86 237,92 237,93 236,93 235,93 233,94 232,95 230,96 228,97 225,98 224,100 223,102 224,105 226,106 231,107 237,107 242,107 251,109 259,110 268,112 275,113 281,115 288,114 290,114 292,112 294,111 295,110 296,110 298,109 295,112 293,116 289,116 283,118 276,116 270,115 259,113 248,112 237,110 232,109 227,108 223,106 219,104 221,99 223,97 227,95 230,93 234,91 228,86 221,84 215,81 201,75 186,69 171,65 146,59 119,55 92,59 78,61 65,65 52,71 45,75 38,80 31,83 30,82 29,81 29,80 37,70 50,63 62,57" />
              <polygon style="fill:#6c7b6c" points="113,52 138,55 161,60 185,65 208,74 230,85 234,86 237,89 240,91 239,91 238,92 237,92 234,86 227,85 221,82 190,68 158,58 125,56 114,56 103,56 93,57 78,59 64,63 51,70 45,73 39,77 33,79 34,77 35,75 37,74 42,70 47,66 54,64 52,65 50,67 48,70 52,68 56,65 60,63 70,61 80,58 90,56" />
              <polygon style="fill:#9edba7" points="210,55 214,57 219,59 235,65 251,73 267,80 268,81 270,83 272,84 274,85 276,86 278,87 278,88 278,89 278,90 272,90 268,87 264,84 251,77 238,71 225,65 218,61 210,61 205,55" />
              <polygon style="fill:#c3e8c8" points="287,64 287,68 289,71 291,75 293,80 295,85 297,90 300,95 302,101 303,103 302,105 301,106 296,100 293,92 291,84 288,77 282,70 283,62" />
              <polygon style="fill:#848484" points="271,64 275,64 279,64 278,65 277,66 275,67 273,69 269,70 269,74 269,77 271,80 272,84 270,83 268,81 267,80 266,76 265,70 269,67" />
              <polygon style="fill:#0f2e14" points="280,70 283,76 284,83 284,84 283,86 282,87 279,81 277,74 275,67 277,66 278,65 279,64" />
              <polygon style="fill:#414241" points="269,70 273,69 275,67 277,74 279,81 282,87 280,87 279,87 278,87 276,86 274,85 272,84 271,80 269,77 269,74" />
              <polygon style="fill:#77cc83" points="246,92 251,93 256,94 256,95 256,97 256,98 251,98 246,97 241,95 241,94 241,93 241,91" />
              <polygon style="fill:#0f2f14" points="232,95 233,94 235,93 235,95 236,96 236,97 251,101 266,101 281,105 287,106 293,106 298,108C 296,110 295,110 294,111 287,110 280,109 273,108 266,106 259,106 252,104 245,103 237,102 230,100 230,99 230,97 230,96" />
              <polygon style="fill:#474847" points="225,98 228,97 230,96 230,97 230,99 230,100 237,102 245,103 252,104 259,106 266,106 273,108 280,109 287,110 294,111 292,112 290,114 288,114 281,115 275,113 268,112 259,110 251,109 242,107 237,107 231,107 226,106 224,105 223,102 224,100" />
              <polygon style="fill:#48ba58" points="35,99 38,99 40,99 40,101 40,102 40,103 38,104 36,105 34,107 34,108 33,108 32,109 27,111 28,117 29,121 28,124 31,126 33,127 34,126 35,125 36,124 37,124 38,124 40,124 39,125 38,126 37,127 36,128 35,128 33,128 33,129 33,130 33,131C 31,132 30,133 29,133 28,141 28,149 28,158 29,161 28,165 30,168 32,169 35,167 37,167 38,168 39,169 40,169 40,170 41,171 42,171 42,172 42,173 41,174 40,173 39,171 38,170 34,170 31,169 28,169 27,159 28,150 28,141 28,132 27,124 27,115 28,113 28,110 29,108 30,105 31,103 32,100" />
              <polygon style="fill:#b7e4bd" points="45,100 48,104 50,109 48,108 46,107 45,106 43,105 42,104 40,103 40,102 40,101 40,99" />
              <polygon style="fill:#2a7e36" points="30,102 31,101 32,100 31,103 30,105 29,108 29,106 28,104 28,102" />
              <polygon style="fill:#c6c9c6" points="664,101 668,101 672,101 671,101 670,102 669,102 665,104 660,105 658,109 655,113 656,119 657,124 655,124 653,124 651,124 649,125 648,125 647,126C 643,126 641,125 638,125 643,124 649,123 654,123 654,120 653,117 654,114 654,109 657,106 660,103" />
              <polygon style="fill:#7d827e" points="677,100 683,101 686,106 689,111 687,117 684,121C 681,119 679,117 677,114 676,112 678,110 678,109 676,108 675,108 673,107 671,107 669,105 668,107 666,110 667,114 667,117 667,117 666,117 665,117 666,113 666,109 666,105 667,104 668,103 669,102 670,102 671,101 672,101" />
              <polygon style="fill:#464646" points="383,102 383,102 384,102 383,104 383,106 383,109 386,109 389,109 392,110 392,128 392,147 392,166 389,166 386,166 383,165 384,159 384,153 384,147 384,136 385,125 383,115 381,114 378,114 376,113 376,111 376,108 376,106 378,106 380,105 382,105 382,104 382,103 382,102" />
              <polygon style="fill:#010101" points="385,102 386,102 387,101 387,102 388,103 388,104 391,105 394,105 396,106 397,107 397,108 398,110 398,120 398,131 398,142 398,150 397,159 398,168 402,169 406,170 409,172 409,172 410,173 410,173 409,173 408,173 407,173 405,174 404,174 403,174 396,174 389,174 383,173 383,172 382,171 382,169 383,168 383,167 383,165 386,166 389,166 392,166 392,147 392,128 392,110 389,109 386,109 383,109 383,106 383,104 384,102" />
              <polygon style="fill:#353535" points="391,101 394,101 398,101 398,103 398,105 398,106 398,107 398,109 398,110 397,108 397,107 396,106 394,105 391,105 388,104 388,103 387,102 387,101" />
              <polygon style="fill:#979797" points="399,102 400,102 401,102 402,118 401,134 402,150 401,155 401,160 401,166 403,166 405,165 407,165 407,166 407,167 408,168 405,167 402,167 399,167 397,161 398,155 398,150 398,135 399,121 398,106 398,105 398,103 398,101" />
              <polygon style="fill:#0e2e13" points="26,103 27,103 28,102 28,104 29,106 29,108 28,110 28,113 27,115 27,118 27,120 26,123 25,123 24,123 23,123 23,117 23,110 25,104" />
              <polygon style="fill:#8e8e8e" points="377,103 380,102 382,102 382,103 382,104 382,105 380,105 378,106 376,106 376,108 376,111 376,113 378,114 381,114 383,115 385,125 384,136 384,147 384,153 384,159 383,165 383,167 383,168 382,169 380,170 378,170 376,170 376,173 376,175 376,177 384,178 393,178 402,177 402,176 402,175 403,174 404,174 405,174 407,173 406,175 405,178 403,179 399,181 395,180 392,180 387,180 382,181 377,180 375,178 373,175 371,173 366,176 362,179 356,180 347,182 337,181 329,175 318,164 317,143 329,132 332,127 338,126 344,125 341,126 339,128 336,129 330,132 325,137 323,144 322,149 322,154 323,160 323,164 326,168 329,171 332,175 337,177 342,178 350,179 360,179 366,173 370,171 373,169 376,166 378,166 380,166 381,166 382,155 382,144 382,133 382,128 382,123 381,118 379,116 377,116 375,114 373,111 372,107 375,104" />
              <polygon style="fill:#8e908f" points="660,105 665,104 669,102 668,103 667,104 666,105 663,107 659,108 658,112 657,116 658,121 660,124 659,124 658,124 657,124 656,119 655,113 658,109" />
              <polygon style="fill:#e0e1e0" points="678,103 682,103 684,106 686,110 686,115 683,119 683,116 682,113 681,110 679,107 677,105 674,103" />
              <polygon style="fill:#0e2e12" points="36,105 38,104 40,103 42,104 43,105 45,106 45,107 46,109 47,110 46,110 45,111 44,111 41,108 38,106 34,107" />
              <polygon style="fill:#454545" points="19,106 22,105 25,104 23,110 23,117 23,123 21,124 18,124 16,124 15,126 15,128 15,130 17,131 20,132 22,132 23,143 23,154 23,166 20,166 18,166 16,166C 16,156 17,147 15,138 12,137 8,135 8,131 7,127 13,127 15,124 16,119 15,114 17,109" />
              <polygon style="fill:#545554" points="659,108 663,107 666,105 666,109 666,113 665,117 666,119 668,121 671,122 673,123 676,123 679,124 676,126 674,128 671,128 667,128 664,126 661,124C 658,121 657,116 658,112" />
              <polygon style="fill:#454545" points="669,105 671,107 673,107 674,112 673,117 671,122 668,121 666,119 665,117 666,117 667,117 667,117 667,114 666,110 668,107" />
              <polygon style="fill:#545554" points="38,106 41,108 44,111 44,112 43,114 42,115 39,116 36,116 33,116 33,114 33,112 32,109 33,108 34,108 34,107" />
              <polygon style="fill:#4db45c" points="46,107 48,108 50,109 49,109 48,109 47,110 46,109 45,107 45,106" />
              <polygon style="fill:#727272" points="399,121 398,135 398,150 398,155 397,161 399,167 402,167 405,167 408,168 408,169 408,170 409,172 406,170 402,169 398,168 397,159 398,150 398,142 398,131 398,120 398,110 398,109 398,107 398,106" />
              <polygon style="fill:#636563" points="675,108 676,108 678,109 678,110 676,112 677,114 679,117 681,119 683,122 682,123 680,123 679,124 676,123 673,123 671,122 673,117 674,112 673,107" />
              <polygon style="fill:#33a644" points="27,120 27,118 27,115 27,124 28,132 28,141 28,150 27,159 28,169 31,169 34,170 38,170 33,170 28,170 23,170 20,170 18,168 16,166 18,166 20,166 23,166 24,166 25,165 26,165 27,156 27,147 27,138 27,136 27,133 26,130 22,128 19,127 16,124 18,124 21,124 23,123 24,123 25,123 26,123" />
              <polygon style="fill:#eeeeee" points="421,121 434,119 446,122 444,122 442,122 440,122 438,123 435,123 433,123 426,124 418,126 413,131 406,138 403,149 406,159 406,161 407,163 407,165 405,165 403,166 401,166 401,160 401,155 402,150 404,143 406,135 412,130" />
              <polygon style="fill:#474747" points="54,123 58,123 63,123 59,123 55,123 52,124 51,124 51,124 50,124 50,126 50,128 50,130 54,131 57,131 60,131 60,143 61,155 60,166 57,166 54,166 52,166 52,156 53,146 51,136 48,136 46,135 43,135 43,133 42,130 42,128 44,127 46,126 49,126 49,125 49,124 50,123" />
              <polygon style="fill:#b8beb9" points="70,124 75,123 80,122C 76,125 72,127 69,131 68,132 67,133 65,134 65,133 65,132 65,132 64,129 64,126 64,123" />
              <polygon style="fill:#55bf64" points="83,122 86,122 88,123 88,124 88,126 88,127 86,127 83,127 81,127 81,126 80,124 80,123" />
              <polygon style="fill:#4abb5a" points="119,122 121,122 123,122 124,124 126,125 127,127 124,127 121,127 118,127 115,128 112,130 111,133 111,134 111,135 111,135 114,135 118,135 121,136 117,136 113,136 110,137 109,138 108,138 108,138 106,139 105,140 104,140 104,142 103,145 105,146 106,147 107,147 108,147 119,147 129,147 139,148 132,148 125,148 118,148 114,148 110,148 107,150 107,151 106,152 106,152 105,152 104,152 103,152 104,155 104,158 106,161 108,164 111,166 114,169 109,167 105,163 103,158 100,153 100,146 102,140 103,135 108,131 109,126 111,125 114,123 117,122" />
              <polygon style="fill:#81d08c" points="126,122 129,123 132,123 133,125 133,126 133,127 131,127 129,127 127,127 126,125 124,124 123,122" />
              <polygon style="fill:#38af49" points="177,122 179,122 180,122 180,123 179,124 179,125 181,126 183,126 186,126 181,126 176,127 173,131 172,132 171,133 170,135 168,134 167,134 165,133 160,140 160,149 161,158 158,151 159,143 162,136 164,133 166,130 167,126 170,125 173,123 176,122" />
              <polygon style="fill:#74cb81" points="184,122 187,123 191,123 191,125 191,126 192,128 190,127 188,127 186,126 183,126 181,126 179,125 179,124 180,123 180,122" />
              <polygon style="fill:#bbe3c0" points="222,123 226,123 231,123C 227,124 223,127 219,129 215,131 210,134 208,139 207,142 207,146 207,149 206,149 205,148 203,148 203,144 202,139 200,136 198,132 195,130 192,128 191,126 191,125 191,123 197,125 201,131 205,136 209,132 213,128 217,125" />
              <polygon style="fill:#393939" points="234,123 237,122 241,123 241,124 241,125 242,127 238,127 235,125 232,123" />
              <polygon style="fill:#7f7f7f" points="241,123 243,123 243,123 246,123 249,125 251,126 251,126 250,127 250,128 247,128 244,127 242,127 241,125 241,124 241,123" />
              <polygon style="fill:#d9d9d9" points="256,123 268,122 281,123 277,123 272,124 268,124 267,124 265,124 264,124 262,124 259,124 257,124 256,124 254,123 253,123 253,124 252,125 251,126 249,125 246,123 243,123" />
              <polygon style="fill:#cfcfcf" points="333,126 340,121 348,122C 347,123 345,124 344,125 338,126 332,127 329,132 317,143 318,164 329,175 337,181 347,182 356,180 362,179 366,176 371,173 373,175 375,178 377,180 382,181 387,180 392,180 395,180 399,181 403,179 405,178 406,175 407,173 408,173 409,173 410,173 408,176 407,179 404,181 401,183 398,182 395,182 389,182 384,183 378,182 375,182 372,180 369,178 367,179 364,180 362,181 351,185 338,184 328,177 324,173 321,168 319,162 317,155 318,148 319,142 317,141 316,141 315,140 316,137 318,135 320,132 322,131 324,130 326,129" />
              <polygon style="fill:#393939" points="351,122 355,122 358,122 358,124 358,125 359,127 355,127 352,125 349,123" />
              <polygon style="fill:#7f7f7f" points="361,123 365,124 368,125 367,126 367,127 366,128 364,128 361,127 359,127 358,125 358,124 358,122" />
              <polygon style="fill:#010101" points="435,123 438,123 440,122 440,123 440,124 440,125 443,126 446,126 449,127 451,127 452,128 454,129 458,131 461,135 462,139 463,143 464,146 467,149 467,149 467,150 467,151 467,151 465,151 465,151 463,151 462,151 461,151 448,151 434,152 421,151 422,153 422,155 422,157 424,160 427,164 430,167 433,168 436,169 438,170 441,170 444,170 448,170 447,169 446,168 445,166 451,166 456,164 460,160 460,162 461,163 461,165 463,165 464,166 465,166 465,167 464,167 463,168 462,170 459,171 457,172 448,175 437,176 428,171 420,167 415,158 415,149 415,141 418,135 422,129 426,127 429,125 433,123" />
              <polygon style="fill:#414141" points="442,122 444,122 446,122 446,122 447,122 447,123 448,124 448,125 449,127 446,126 443,126 440,125 440,124 440,123 440,122" />
              <polygon style="fill:#787878" points="450,123 452,124 455,125 455,126 454,127 454,129 452,128 451,127 449,127 448,125 448,124 447,123" />
              <polygon style="fill:#c0e2c4" points="43,123 46,123 50,123 49,124 49,125 49,126 46,126 44,127 42,128 42,128 41,128 41,128 40,128 38,128 37,127 38,126 39,125 40,124" />
              <polygon style="fill:#0e2f13" points="51,124 51,124 52,124 55,128 62,127 65,132 65,141 65,150 65,160 64,162 65,164 63,165 62,166 61,166 60,166 61,155 60,143 60,131 57,131 54,131 50,130 50,128 50,126 50,124" />
              <polygon style="fill:#60c46e" points="55,123 59,123 63,123 63,123 64,123 64,123 64,126 64,129 65,132 62,127 55,128 52,124" />
              <polygon style="fill:#2b903a" points="72,127 76,125 80,123 80,124 81,126 81,127 83,127 86,127 88,127 90,129 91,130 92,131C 89,130 87,128 85,128 82,128 79,131 77,132 76,134 75,135 74,137 72,135 71,133 69,131" />
              <polygon style="fill:#010101" points="223,127 227,124 232,123 235,125 238,127 242,127 244,127 247,128 250,128 250,127 251,126 251,126 252,125 253,124 253,123 254,123 256,124 257,124 256,127 255,131 256,134 257,137 259,138 260,140 259,141 258,141 257,142 256,142 254,142 254,142 251,138 250,134 246,132 239,129 231,130 226,136 226,136 226,137 226,137 224,137 223,136 222,135 218,141 217,149 219,156 221,161 225,166 231,169 234,169 237,170 240,170 240,169 240,167 240,166 245,166 249,164 252,160 253,160 255,159 256,159 256,161 256,162 256,164 257,164 258,165 260,165 259,166 258,167 258,168 256,170 254,171 252,172 243,175 234,176 226,172 217,167 212,156 212,146 213,139 216,134 219,129" />
              <polygon style="fill:#979797" points="259,124 262,124 264,124 264,125 264,126 264,127 263,127 262,128 260,128 260,130 260,131 261,133 263,137 267,139 269,143 273,151 276,160 279,168 281,173 287,177 284,183 284,187 281,189 278,189 277,189 276,189 275,189C 280,188 283,180 280,176 272,164 269,151 262,139 262,139 261,140 260,140 259,138 257,137 256,134 255,131 256,127 257,124" />
              <polygon style="fill:#010101" points="265,124 267,124 268,124 272,130 280,127 286,128 287,128 288,128 289,129 289,129 289,131 290,131 288,131 287,131 285,132 284,132 282,132 280,132 281,137 282,141 284,146 287,152 289,160 294,166 295,165 295,165 296,165 300,154 303,143 306,132 304,132 302,131 300,131 300,130 300,128 300,127 299,126 299,125 299,124 301,124 303,123 304,123 305,125 305,126 305,127 311,128 316,128 321,127 323,128 325,129 326,129 324,130 322,131 320,132 318,132 315,132 313,132 307,150 301,169 294,187 295,188 296,189 297,190 295,192 293,194 292,196 290,196 288,196 287,197 283,197 279,196 275,196 275,195 275,193 274,192 274,191 274,190 274,189C 276,189 277,189 278,189 279,190 280,191 281,192 284,190 287,187 289,184 292,180 293,175 294,170 292,170 291,169 289,169 283,157 278,144 272,132 270,131 267,131 265,131 265,130 265,128 264,127 264,126 264,125 264,124" />
              <polygon style="fill:#373737" points="272,124 277,123 281,123 283,123 285,124 287,124 286,125 286,126 286,128 280,127 272,130 268,124" />
              <polygon style="fill:#b5b5b5" points="291,125 295,124 299,124 299,125 299,126 300,127 297,127 295,128 292,128 292,129 292,131 293,132 293,135 296,138 297,141 296,146 293,151 294,156 294,159 295,162 294,166 289,160 287,152 284,146 282,141 281,137 280,132 282,132 284,132 285,132 286,138 287,145 291,151 292,148 294,145 294,142 293,138 291,135 290,131 289,131 289,129 289,129 288,128 287,128 286,128 286,126 286,125 287,124" />
              <polygon style="fill:#373737" points="310,123 316,123 323,123 322,125 322,126 321,127 316,128 311,128 305,127 305,126 305,125 304,123" />
              <polygon style="fill:#b3b3b3" points="323,124 324,124 325,124 325,126 326,127 326,129 325,129 323,128 321,127 322,126 322,125 323,123" />
              <polygon style="fill:#010101" points="345,124 347,123 349,123 352,125 355,127 359,127 361,127 364,128 366,128 367,127 367,126 368,125 370,124 372,123 374,123 373,127 372,131 373,134 374,137 376,139 377,141C 376,141 375,142 374,142 373,142 371,142 371,142 368,138 367,134 363,132 356,129 348,130 343,136 343,136 343,137 343,137 341,137 340,136 339,135 335,141 334,149 336,156 338,161 342,166 348,169 351,169 354,170 357,170 357,169 357,167 357,166 362,166 366,164 369,160 370,160 372,159 373,159 373,161 373,162 373,164 374,164 375,165 377,165C 373,169 370,171 366,173 359,175 350,176 342,172 333,167 329,156 330,146 330,140 333,134 336,129 339,128 341,126 344,125" />
              <polygon style="fill:#6cc87a" points="519,123 522,123 524,123 527,123 529,124 532,125 534,127 535,129 536,131C 534,130 532,129 530,129 525,128 521,126 518,124" />
              <polygon style="fill:#adadad" points="557,123 563,124 569,124 565,124 562,124 559,125 559,125 558,125 558,125 555,126 553,128 550,129 550,131 550,133 550,136 553,136 555,137 558,137 560,147 559,157 558,166 558,166 558,167 558,168 558,168 557,169 557,169 555,170 552,170 550,170 550,173 550,176 550,179 560,179 571,180 581,179 581,178 581,176 582,175 583,174 585,174 586,174 585,177 584,179 581,181 578,183 573,182 569,182 564,182 558,183 552,182 547,181 545,174 548,170 550,168 554,167 557,165 557,158 557,151 557,144 556,140 552,139 549,138 548,135 547,132 546,129 547,128 548,125 551,125" />
              <polygon style="fill:#55bf64" points="590,123 593,123 595,124 595,125 596,127 596,128 593,128 590,128 587,128 587,127 587,125 587,124" />
              <polygon style="fill:#c7c8c8" points="597,124 598,124 599,124 599,126 599,129 600,132 603,129 607,127 610,125 614,123 618,123 623,123 621,124 620,124 619,125C 607,127 598,135 595,146 593,154 595,163 599,170 593,165 592,157 593,150 594,147 595,143 594,140 589,139 583,141 578,142 579,140 580,139 581,138 585,138 589,138 593,137 593,136 593,134 594,133 595,132 597,132 598,132C 598,131 597,129 596,128 596,127 595,125 595,124" />
              <polygon style="fill:#39b04a" points="624,123 625,123 626,123 626,125 626,126 626,127 628,127 631,127 633,128 634,128 635,128 636,128 631,128 625,128 622,132 621,134 620,136 618,137 618,137 617,138 617,138 615,138 614,138 612,138 610,141 610,145 609,149 609,156 612,162 617,167C 614,165 610,162 609,158 607,150 608,142 611,135 614,132 618,129 619,125 620,124 621,124 623,123" />
              <polygon style="fill:#68c776" points="629,123 631,123 633,124 633,125 633,126 633,128 631,127 628,127 626,127 626,126 626,125 626,123" />
              <polygon style="fill:#a1dbaa" points="635,124 637,124 638,125 641,125 643,126 646,126 645,126 644,126 644,127 644,128 645,130 643,131 640,130 638,129 636,128 635,128 634,128 633,128 633,126 633,125 633,124" />
              <polygon style="fill:#0e2d12" points="15,128 15,126 16,124 19,127 22,128 26,130 27,133 27,136 27,138 27,147 27,156 26,165 25,165 24,166 23,166 23,154 23,143 22,132 20,132 17,131 15,130" />
              <polygon style="fill:#38b049" points="514,125 516,125 518,124 521,126 525,128 530,129 525,128 520,128 516,132 515,133 514,134 513,135 513,136 512,137 512,137 510,137 508,137 507,137 504,139 504,143 503,146 503,151 504,157 506,161 508,164 511,167 514,169C 501,164 498,145 507,134 509,131 512,129 512,126" />
              <polygon style="fill:#bfe7c5" points="537,126 541,129 545,131 545,131 545,130 546,129 547,132 548,135 549,138 549,139 549,140 550,141 551,146 551,151 550,156 547,152 546,148 546,143 544,138 541,134 536,131 535,129 534,127 532,125" />
              <polygon style="fill:#474747" points="553,128 555,126 558,125 558,127 557,129 557,131 561,132 564,132 567,132 567,144 568,156 567,167 564,167 561,166 558,166 559,157 560,147 558,137 555,137 553,136 550,136 550,133 550,131 550,129" />
              <polygon style="fill:#0e2f13" points="558,125 559,125 559,125 563,129 569,128 572,133 571,142 572,151 572,161 572,163 572,165 570,166 569,167 568,167 567,167 568,156 567,144 567,132 564,132 561,132 557,131 557,129 558,127 558,125" />
              <polygon style="fill:#60c46e" points="562,124 565,124 569,124 569,124 571,124 571,124 571,127 571,130 572,133 569,128 563,129 559,125" />
              <polygon style="fill:#2b863a" points="577,126 583,126 587,124 587,125 587,127 587,128 590,128 593,128 596,128 597,129 598,131 599,132C 596,131 594,130 592,129 589,129 586,132 584,133 583,135 582,136 581,137 579,135 577,133 575,131" />
              <polygon style="fill:#33a744" points="648,125 649,125 651,124 651,130 651,136 651,142 649,138 646,135 644,132 645,130 646,128 647,126" />
              <polygon style="fill:#64c572" points="653,124 655,124 657,124 658,124 659,124 660,124C 661,126 661,127 660,128 659,129 658,129 656,129 656,131 656,132 655,133 654,133 653,133 652,133 651,140 652,148 652,156 652,163 652,171 651,178 651,180 652,182 653,183 653,185 652,186 652,188C 650,188 649,187 648,186 648,185 648,184 649,183 650,178 651,174 651,169 651,165 651,160 651,155 651,151 651,146 651,142 651,136 651,130 651,124" />
              <polygon style="fill:#b4b4b4" points="463,130 468,139 467,149 464,146 463,143 462,139 461,135 458,131 454,129 454,127 455,126 455,125" />
              <polygon style="fill:#858585" points="598,135 607,127 618,125 616,126 615,127 613,128 612,129 611,130 610,130 608,132 604,133 603,135 597,143 596,153 598,162 599,168 603,173 608,176 618,180 628,177 638,177 638,181 637,185 637,188 635,189 633,190 631,190 629,190 627,189 624,189 627,189 631,189 634,186 635,185 636,182 633,180 627,180 620,182 613,180 607,179 602,175 599,170 595,163 593,154 595,146" />
              <polygon style="fill:#267731" points="618,129 614,132 611,135 612,133 613,131 613,128 615,127 616,126 618,125" />
              <polygon style="fill:#0f2f13" points="646,128 645,130 644,132 646,135 649,138 651,142 651,146 651,151 651,155 649,159 646,163 641,164 643,161 646,158 646,154 647,150 647,146 646,142 644,137 640,133 635,132 631,131 626,132 622,132 625,128 631,128 636,128 638,129 640,130 643,131 645,130 644,128 644,127 644,126 645,126 646,126" />
              <polygon style="fill:#0f2e13" points="105,128 107,127 109,126 108,131 103,135 102,140 100,146 100,153 103,158 105,163 109,167 114,169C 116,170 119,170 121,171 127,172 134,169 140,171C 129,175 118,176 108,171 100,166 95,156 96,147 96,140 100,134 103,129" />
              <polygon style="fill:#0f2f13" points="121,127 124,127 127,127 129,127 131,127 133,127 136,130 140,133 142,137 143,141 144,144 144,148 143,147 141,147 139,148 139,147 138,146 138,145 138,145 139,144 139,144 139,138 135,133 130,130 125,129 121,130 117,130 117,129 118,128 118,127" />
              <polygon style="fill:#0f2e13" points="164,128 166,127 167,126 166,130 164,133 162,136 159,143 158,151 161,158 163,163 167,167 172,169 177,171 183,171 189,171 192,170 196,170 199,171 197,172 195,173 193,174 184,175 175,175 167,171 159,166 154,156 155,147 155,140 159,134 162,129" />
              <polygon style="fill:#0f2f13" points="176,127 181,126 186,126 188,127 190,127 192,128 195,130 198,132 200,136 202,139 203,144 203,148 201,147 200,147 198,148 197,147 197,146 197,145 198,144 199,143 198,141 196,136 192,131 187,130 182,129 178,130 173,131" />
              <polygon style="fill:#7a7a7a" points="497,132 504,128 511,126 509,127 507,129 505,130 505,130 504,131 504,131 501,133 498,134 496,137 492,144 489,152 492,160 493,166 496,171 501,174 509,179 519,181 528,176 530,175 531,175 533,174 534,174 535,174 537,174 530,181 520,182 510,181 500,179 492,171 489,161 488,153 489,145 493,139" />
              <polygon style="fill:#246f2f" points="512,129 509,131 507,134 506,132 506,131 505,130 507,129 509,127 511,126" />
              <polygon style="fill:#16421d" points="35,128 36,128 37,127 38,128 40,128 41,128 41,129 41,130 41,131 40,131 38,132 37,132 36,132 34,132 33,131 33,130 33,129 33,128" />
              <polygon style="fill:#287e34" points="112,130 115,128 118,127 118,128 117,129 117,130 115,131 113,132 111,133" />
              <polygon style="fill:#444444" points="262,128 263,127 264,127 265,128 265,130 265,131 267,131 270,131 272,132 278,144 283,157 289,169 291,169 292,170 294,170 293,175 292,180 289,184 287,187 284,190 281,192 280,191 279,190 278,189 281,189 284,187 284,183 287,177 281,173 279,168 276,160 273,151 269,143 267,139 263,137 261,133 260,131 260,130 260,128" />
              <polygon style="fill:#484848" points="295,128 297,127 300,127 300,128 300,130 300,131 302,131 304,132 306,132 303,143 300,154 296,165 295,165 295,165 294,166 295,162 294,159 294,156 293,151 296,146 297,141 296,138 293,135 293,132 292,131 292,129 292,128" />
              <polygon style="fill:#bdbdbd" points="41,128 42,128 42,128 42,130 43,133 43,135 46,135 48,136 51,136 53,146 52,156 52,166 51,166 51,166 50,166 47,168 45,169 42,171 41,171 40,170 40,169 40,168 40,167 41,166 44,166 48,166 49,162 50,156 50,150 49,144 49,140 46,139 43,138 39,137 36,139 33,139 33,139 33,138 33,137 34,135 36,134 37,132 38,132 40,131 41,131 41,130 41,129 41,128" />
              <polygon style="fill:#123516" points="79,131 82,128 85,128 87,128 89,130 91,131 90,131 88,131 87,132 84,132 81,132 77,132" />
              <polygon style="fill:#0f2f13" points="520,128 525,128 530,129 532,129 534,130 536,130 539,134 543,138 544,143 546,150 544,157 540,162 539,166 535,165 532,166 538,162 542,153 540,146 539,140 536,134 530,132 525,131 521,132 516,132" />
              <polygon style="fill:#0f2e13" points="611,130 612,129 613,128 613,131 612,133 611,135 608,142 607,150 609,158 610,162 614,165 618,168 620,169 622,170 625,171 630,171 634,172 638,170 641,169 644,168 646,168 648,168 649,169 651,169 651,174 650,178 649,183 646,185 644,187 640,187 642,185 645,182 646,179 647,176 646,173 646,170 640,172 634,175 626,174 617,174 608,167 605,158 601,149 605,138 610,130" />
              <polygon style="fill:#1b5a24" points="658,129 659,129 660,128 662,129 663,130 665,130 662,133 659,135 655,135 655,135 655,134 655,133 656,132 656,131 656,129" />
              <polygon style="fill:#484848" points="91,136 97,131 103,129 100,134 96,140 96,147 95,156 100,166 108,171 118,176 129,175 139,172 135,176 130,179 124,179 115,179 106,180 99,174 94,171 90,167 89,161 89,155 89,149 90,144" />
              <polygon style="fill:#494a49" points="121,130 125,129 130,130 135,133 139,138 139,144 139,144 138,145 138,145 134,145 131,144 128,144 127,142 126,138 122,137 118,136 114,137 110,137 113,136 117,136 121,136 118,135 114,135 111,135 111,135 111,134 111,133 113,132 115,131 117,130" />
              <polygon style="fill:#464646" points="152,134 157,131 162,129 159,134 155,140 155,147 154,156 159,166 167,171 175,175 184,175 193,174 186,178 178,180 170,178 161,177 153,170 150,161 149,158 148,154 147,151 142,152 137,155 132,155 123,155 115,155 107,155 107,154 106,153 106,152 106,152 107,151 107,150 121,151 135,152 149,150C 149,146 148,143 150,139" />
              <polygon style="fill:#494a49" points="178,130 182,129 187,130 192,131 196,136 198,141 199,143 198,144 197,145 194,145 190,144 187,144 186,142 185,138 181,137 177,136 173,137 169,137 172,136 176,136 180,136 177,135 173,135 170,135 171,133 172,132 173,131" />
              <polygon style="fill:#484848" points="210,134 215,131 219,129 216,134 213,139 212,146 212,156 217,167 226,172 234,176 243,175 252,172 249,175 246,177 242,178 236,179 229,179 223,178 217,177 213,173 209,170 208,168 208,165 207,163 207,159 206,155 204,152 200,153 195,155 191,155 182,155 174,154 166,155 166,154 165,153 165,152 165,152 166,151 166,150 180,151 194,152 208,150C 207,146 207,142 208,139" />
              <polygon style="fill:#474747" points="325,137 330,132 336,129 333,134 330,140 330,146 329,156 333,167 342,172 350,176 359,175 366,173 360,179 350,179 342,178 337,177 332,175 329,171 326,168 323,164 323,160 322,154 322,149 323,144" />
              <polygon style="fill:#484848" points="410,136 416,132 422,129 418,135 415,141 415,149 415,158 420,167 428,171 437,176 448,175 457,172 454,175 451,177 446,178 440,179 434,179 428,178 421,178 414,172 410,165 407,158 408,151 409,144" />
              <polygon style="fill:#474747" points="434,130 442,128 449,131 454,133 458,138 459,144 457,144 456,145 455,145 455,146 455,147 455,147 446,147 436,147 427,147 428,146 428,145 429,144 434,145 440,144 445,144 446,144 447,144 448,144 447,142 447,139 445,137 440,134 434,135 429,135" />
              <polygon style="fill:#123516" points="586,132 589,129 592,129 594,130 596,131 598,132 597,132 595,132 594,133 591,133 587,133 584,133" />
              <polygon style="fill:#6cc879" points="67,133 68,132 69,131 71,133 72,135 74,137 73,139 72,140 70,142 69,143 68,143 67,144 66,151 65,159 67,166 68,170 72,167 74,166 75,166 76,166 77,166 77,167 77,168 77,169 74,169 71,170 68,168 66,168 66,166 66,165 65,157 66,149 66,141 67,139 66,136 65,134" />
              <polygon style="fill:#484848" points="231,130 239,129 246,132 250,134 251,138 254,142 253,143 253,144 253,146 251,146 248,146 246,145 243,143 242,139 239,137 235,136 231,136 226,136" />
              <polygon style="fill:#484848" points="348,130 356,129 363,132 367,134 368,138 371,142 370,143 370,144 370,145 368,146 365,146 363,145 360,143 359,139 356,137 352,136 348,136 343,136" />
              <polygon style="fill:#0f2e13" points="504,131 505,130 505,130 506,131 506,132 507,134 498,145 501,164 515,170 516,170 516,170 517,171 519,171 520,171 521,172 525,172 529,173 533,174 531,175 530,175 528,176 521,176 513,175 508,170 501,165 497,156 497,147 498,142 501,136 504,131" />
              <polygon style="fill:#36ac47" points="541,134 544,138 546,143 546,148 545,154 544,159 544,161 545,163 545,165 544,166 543,168 542,169 542,169 541,170 541,170 534,170 528,172 521,172 520,171 519,171 517,171 520,171 523,171 526,170 526,169 526,168 526,167 527,166 529,166 531,166C 535,165 539,166 540,162 544,157 546,150 544,143 543,138 539,134 536,130" />
              <polygon style="fill:#454545" points="604,133 608,132 610,130 605,138 601,149 605,158 608,167 617,174 626,174 634,175 640,172 646,170 646,173 647,176 646,179 645,182 642,185 640,187 639,188 638,188 637,188 637,185 638,181 638,177 628,177 618,180 608,176 603,173 599,168 598,162 596,153 597,143 603,135" />
              <polygon style="fill:#707070" points="34,132 36,132 37,132 36,134 34,135 33,137 32,135 32,134 32,132" />
              <polygon style="fill:#5b5b5b" points="81,132 84,132 87,132 86,133 86,135 86,136 82,137 78,137 74,137 75,135 76,134 77,132" />
              <polygon style="fill:#606060" points="315,132 318,132 320,132 318,135 316,137 315,140 310,153 306,166 301,179 300,183 299,186 297,190 296,189 295,188 294,187 301,169 307,150 313,132" />
              <polygon style="fill:#444444" points="498,134 501,133 504,131 501,136 498,142 497,147 497,156 501,165 508,170 513,175 521,176 528,176 519,181 509,179 501,174 496,171 493,166 492,160 489,152 492,144 496,137" />
              <polygon style="fill:#434443" points="514,134 515,133 516,132 521,132 525,131 530,132 536,134 539,140 540,146 542,153 538,162 532,166C 533,159 535,150 531,143 528,137 520,135 513,135" />
              <polygon style="fill:#6bc778" points="573,134 574,133 575,131 577,133 579,135 581,137C 580,139 579,140 578,142 577,143 575,143 574,144 573,152 572,159 574,166 575,171 581,168 584,167 584,168 584,169 584,170 580,170 576,171 573,169 572,163 573,157 573,150 573,145 574,140 573,135" />
              <polygon style="fill:#464646" points="626,132 631,131 635,132 640,133 644,137 646,142 647,146 647,150 646,154 646,158 643,161 641,164 639,165 637,165 634,166 634,166 633,166 632,166 635,165 637,163 638,160 638,156 638,152 638,148 638,143 633,138 628,137 625,137 621,137 618,137 620,136 621,134 622,132" />
              <polygon style="fill:#aadfb2" points="30,133 31,132 32,132 32,134 32,135 33,137 33,138 33,139 33,139 33,148 32,157 33,165 35,166 38,166 41,166 40,167 40,168 40,169 39,169 38,168 37,167 35,167 32,169 30,168 28,165 29,161 28,158 28,149 28,141 29,133" />
              <polygon style="fill:#3db14d" points="65,132 65,133 65,134 66,136 67,139 66,141 66,149 65,157 66,165 66,166 66,168 68,168 71,170 74,169 77,169 78,170 80,172 81,173 81,173 80,173 79,173 74,168 66,171 58,170 55,170 53,168 50,166 51,166 51,166 52,166 54,166 57,166 60,166 61,166 62,166 63,165 65,164 64,162 65,160 65,150 65,141 65,132" />
              <polygon style="fill:#5dc26b" points="167,134 168,134 170,135 173,135 177,135 180,136 176,136 172,136 169,137 168,138 167,138 167,138 165,140 162,141 162,143 162,146 165,147 167,148 167,149 167,150 166,150 166,151 165,152 165,152 163,153 162,155 163,157 165,163 171,169 177,168 181,167 184,167 187,166 188,168 188,169 189,171 183,171 177,171 172,169 167,167 163,163 161,158 160,149 160,140 165,133" />
              <polygon style="fill:#5b5b5b" points="587,133 591,133 594,133 593,134 593,136 593,137 589,138 585,138 581,138C 582,136 583,135 584,133" />
              <polygon style="fill:#3db14d" points="572,134 573,135 573,135 574,140 573,145 573,150 573,157 572,163 573,169 576,171 580,170 584,170 585,172 587,173 588,174 588,174 587,174 586,174 580,169 572,172 565,171 563,171 560,169 558,168 558,167 558,166 558,166 561,166 564,167 567,167 568,167 569,167 570,166 572,165 572,163 572,161 572,151 571,142 572,133" />
              <polygon style="fill:#3d3d3d" points="420,144 422,137 426,134 427,135 428,136 428,137 428,137 428,138 428,138 426,139 424,140 423,141 423,144 423,146 424,148" />
              <polygon style="fill:#515151" points="217,149 218,141 222,135 223,136 224,137 226,137 225,138 225,139 224,139 224,140 223,141 223,141 222,143 220,144 219,146 219,149 219,152 219,156" />
              <polygon style="fill:#515151" points="334,149 335,141 339,135 340,136 341,137 343,137 342,138 342,139 341,139 341,140 340,141 340,141 339,143 337,144 336,146 336,149 336,152 336,156" />
              <polygon style="fill:#a6a6a6" points="429,136 429,136 429,135 434,135 440,134 445,137 447,139 447,142 448,144 447,144 446,144 445,144 444,142 444,140 441,139 437,136 432,138 427,139C 428,138 428,137 428,137" />
              <polygon style="fill:#16351a" points="141,147 143,147 144,148 146,148 147,149 149,150C 135,152 121,151 107,150 110,148 114,148 118,148 125,148 132,148 139,148" />
              <polygon style="fill:#143518" points="178,148 188,148 198,148 200,147 201,147 203,148 205,148 206,149 207,149C 194,152 180,151 166,150 167,150 167,149 167,148" />
              <polygon style="fill:#30a140" points="646,163 649,159 651,155 651,160 651,165 651,169 649,169 648,168 646,168 644,168 641,169 638,170 634,172 630,171 625,171 629,171 633,170 636,170 636,168 635,167 634,166 637,165 639,165 641,164" />
              <polygon style="fill:#32a542" points="133,165 137,163 142,161 142,162 142,163 143,165 144,165 145,166 146,167 144,168 142,170 140,171 134,169 127,172 121,171 124,171 126,170 128,170 128,169 128,167 128,166" />
              <polygon style="fill:#32a542" points="192,165 196,163 201,161 201,162 201,163 201,165 202,165 204,165 205,166 205,166 205,167 205,168 203,169 201,170 199,171 196,170 192,170 189,171 188,169 188,168 187,166" />
              <polygon style="fill:#0f2f13" points="474,162 475,162 476,162 477,164 477,167 479,169 481,171 483,173 486,174C 485,175 484,175 483,175C 482,175 481,175 480,175 478,175 476,175 474,174 473,171 473,168 473,165 473,164 473,163 473,163" />
              <polygon style="fill:#41b852" points="478,161 479,161 481,161C 482,165 482,170 486,172 486,172 486,173 486,174C 483,173 481,171 479,169 477,167 477,164 476,162" />
              <polygon style="fill:#b4e3bb" points="483,161 485,162 486,162 486,165 487,169 486,172 482,170 482,165 482,161" />
              <polygon style="fill:#0f3214" points="18,168 20,170 23,170 28,170 33,170 38,170 39,171 40,173 41,174 40,174 38,174 36,174 29,174 22,174 15,174 16,171 16,168 16,165" />
              <polygon style="fill:#484848" points="469,166 471,166 473,165 473,168 473,171 474,174 476,175 478,175 480,175 478,177 476,179 474,178 471,178 468,178 467,176 466,173 466,170 467,167" />
              <polygon style="fill:#808080" points="45,169 47,168 50,166 50,167 50,168 50,168 48,169 46,170 44,172 43,174 44,177 47,177 54,178 61,178 69,178 71,178 73,175 75,174C 75,175 74,177 73,178 70,180 66,179 63,179 57,179 51,180 46,179 43,179 43,176 41,174 42,173 42,172 42,171" />
              <polygon style="fill:#0f3214" points="53,168 55,170 58,170 66,171 74,168 79,173 79,173 77,174 76,174C 67,173 59,174 51,174 50,172 50,170 50,168 50,168 50,167 50,166" />
              <polygon style="fill:#535353" points="351,167 354,167 357,166 357,167 357,169 357,170 354,170 351,169 348,169" />
              <polygon style="fill:#3a3a3a" points="440,166 442,166 442,166 443,166 445,166 445,166 446,168 447,169 448,170 444,170 441,170 438,170 439,169 439,168 440,166" />
              <polygon style="fill:#63c470" points="620,168 622,168 625,169 625,168 625,168 626,167 628,167 630,167 632,166 633,166 634,166 634,166 635,167 636,168 636,170 633,170 629,171 625,171 622,170 620,169 618,168" />
              <polygon style="fill:#0f3214" points="560,169 563,171 565,171 572,172 580,169 586,174 585,174 583,174 582,175 574,175 566,175 557,175 557,173 557,171 557,169 557,169 558,168 558,168" />
              <polygon style="fill:#4b4b4b" points="46,170 48,169 50,168 50,170 50,172 51,174 59,174 67,173 75,174 73,175 71,178 69,178 61,178 54,178 47,177 44,177 43,174 44,172" />
              <polygon style="fill:#4e4e4e" points="378,170 380,170 382,169 382,171 383,172 383,173 389,174 396,174 403,174 402,175 402,176 402,177 393,178 384,178 376,177 376,175 376,173 376,170" />
              <polygon style="fill:#1f6429" points="528,172 534,170 541,170 539,171 538,172 537,174 535,174 534,174 533,174 529,173 525,172 521,172" />
              <polygon style="fill:#4f4f4f" points="552,170 555,170 557,169 557,171 557,173 557,175 566,175 574,175 582,175 581,176 581,178 581,179 571,180 560,179 550,179 550,176 550,173 550,170" />
              <polygon style="fill:#33a944" points="644,187 646,185 649,183 648,184 648,185 648,186 649,187 650,188 651,188 649,190 646,192 644,194 637,192 629,196 621,193 625,193 629,193 631,190 633,190 635,189 637,188 638,188 639,188 640,187" />
              <polygon style="fill:#112f15" points="612,188 614,187 616,186 616,189 618,192 621,193 629,196 637,192 644,194 644,194 643,195 642,195 633,198 622,199 613,194 611,193 610,191 610,189" />
              <polygon style="fill:#4f4f4f" points="605,190 608,190 610,189 610,191 611,193 613,194 622,199 633,198 642,195 640,197 638,200 635,201 629,202 624,202 619,202 614,202 608,202 604,199 602,197 602,194 604,192" />
              <polygon style="fill:#000000" points="208,193 210,193 212,192 212,194 212,195 212,196 223,199 234,201 245,203 254,205 264,205 273,209 272,210 271,212 269,213 267,214 265,214 263,215 257,214 251,213 245,212 244,215 246,217 248,219 254,221 260,224 266,227 284,236 303,243 322,249 326,250 330,251 333,252 343,254 353,256 363,257 375,257 388,257 400,256 399,255 398,254 397,252 399,252 400,252 401,252 411,251 421,248 431,245 444,240 456,233 467,225 467,225 468,224 468,224 469,224 469,223 470,223 471,222 472,222 472,222 472,223 471,225 470,226 469,227 468,228 467,229 459,235 451,241 442,246 439,248 436,249 433,251 426,254 418,256 410,259 398,261 387,264 374,264 333,264 293,252 256,235 247,231 239,228 231,223 228,220 225,219 221,218 221,225 222,234 227,239 226,240 226,241 225,242 224,243 222,244 221,244 218,243 216,242 215,240 210,229 206,219 201,209 199,206 199,202 199,198 201,197 204,195 206,193" />
              <polygon style="fill:#595959" points="219,193 225,195 232,196 242,198 252,200 262,201 263,201 264,201 265,202 267,202 269,202 271,203 270,204 270,205 270,207 271,207 273,207 274,207 274,207 273,208 273,209 264,205 254,205 245,203 234,201 223,199 212,196 212,195 212,194 212,192" />
              <polygon style="fill:#4b4b4b" points="268,192 272,193 274,192 275,193 275,195 275,196 279,196 283,197 287,197 283,199 279,201 275,201 272,201 267,199 268,196" />
              <polygon style="fill:#444444" points="195,199 197,199 199,198 199,202 199,206 201,209 206,219 210,229 215,240 216,242 218,243 221,244 217,247 212,248 208,245 204,242 204,236 201,231 199,228 198,224 197,220 197,217 193,215 193,212 192,208 192,204 194,201" />
              <polygon style="fill:#474747" points="251,213 257,214 263,215 261,216 259,217 258,218 254,217 250,214 247,213 247,215 248,217 248,219 246,217 244,215 245,212" />
              <polygon style="fill:#808080" points="265,214 267,214 269,213 267,216 265,218 262,220 284,232 307,240 331,247 329,249 325,249 322,249 303,243 284,236 266,227 260,224 254,221 248,219 248,217 247,215 247,213 250,214 254,217 258,218 259,217 261,216 263,215" />
              <polygon style="fill:#444444" points="225,219 228,220 231,223 239,228 247,231 256,235 293,252 333,264 374,264 387,264 398,261 410,259 406,261 401,263 396,265C 292,257 258,245 227,228 226,226 225,224 225,221 224,221 223,221 222,221 223,226 223,234 228,237 228,238 227,239 227,239 222,234 221,225 221,218" />
              <polygon style="fill:#828282" points="455,230 460,225 467,225 456,233 444,240 431,245 437,241 443,238 449,234" />
              <polygon style="fill:#727272" points="258,245 292,257 327,265C 310,262 303,261 296,259 277,253 259,245 241,237 236,235 230,233 227,228" />
              <polygon style="fill:#9c9c9c" points="451,241 459,235 467,229 457,240 445,249 432,256 425,259 417,261 410,265C 417,260 431,255 442,246" />
              <polygon style="fill:#595959" points="341,248 350,251 360,252 361,252 362,252 364,252 363,254 363,255 363,257 353,256 343,254 333,252 330,251 326,250 322,249 325,249 329,249 331,247" />
              <polygon style="fill:#606060" points="436,249 439,248 442,246 431,255 417,260 404,265C 401,263 406,261 410,259 418,256 426,254 433,251" />
              <polygon style="fill:#373737" points="375,253 386,253 397,252 398,254 399,255 400,256 388,257 375,257 363,257 363,255 363,254 364,252" />
              </svg>
